body {
    width: 100%;
    min-width: 1250px;
    display: grid;
    place-items: center;
    margin: 0;
    min-height: 100%;
    position: relative;
    grid-template-rows: auto 1fr auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.section {
    width: 1024px;
    margin-top: 50px;
}
.content {
    width: 750px;
    float: left;
    margin-left: 50px;
}
.content > h2 {
    font-size: x-large;
}

.contents {
    width: 750px;
    height: 580px;
    padding-bottom: 100px;
}

.contents>ul {
    padding: 0;
    margin: 0;
}

.logo {
    float: left;
    margin-left: 100px;
}