footer {
    height: 100px; 
    width:100%;
    position: relative;
    bottom: 0;
    text-align: center;
    color: gray;
    border-top: 1px solid gray;
    display: flex;
    transform: translatY(-100%);
}

footer a {
    color: gray;
    text-decoration: none;
}

footer div {
    flex: 1;
    display: block;
    margin:auto;
}