.header {
    width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
    color: rgb(0, 112, 82);
}

.header .logo {
    display: inline-block;
}

.header .inf {
    margin-left: auto;
    display: inline-block;
}

.header .inf a {
    list-style-type: none;
    margin: 0 3px 3px 0;
    font-size: small;
    display: inline-block;
    color: white;
    background-color: rgb(0, 112, 82);
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
}

.header .inf #name,
#money {
    color: black;
    background-color: #fff;
    font-weight: bold;
}

#dropboxdiv {
    width: 1000px;
    text-align: center;
}

#dropbox {
    list-style: none;
    height: 40px;
    padding: 5px 5px;
    margin: 0;
    background: white;
}

#dropbox li {
    position: relative;
    margin: 5px 5px;
    padding: 0;
}

#dropbox li a {
    width: 200px;
    display: block;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 5px;
    margin: 0;
    text-decoration: none;
    color: rgb(0, 112, 82);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: 0.3s linear;
}

#dropbox li:hover>a {
    background: rgb(0, 112, 82);
    color: white;
}

#dropbox li:hover ul li {
    height: 35px;
    overflow: visible;
    padding: 0;
}

#dropbox li ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 40px;
    text-align: center;
    border: 1px solid;
    border-top: none;
}

#dropbox ul a {
    font-weight: normal;
    color: rgb(0, 112, 82);
}

#dropbox ul li:hover a {
    font-weight: bold;
}

#dropbox ul li {
    float: none;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.line1 {
    height: 0.5px;
    width: 100%;
    background-color: rgb(0, 112, 82);
}

.line2 {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 112, 82);
}